################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/week6/.vs/config/applicationhost.config
/week6/.vs/week6/v15/.suo
/week6/week6.sln
